name: Publish to GitHub Container Registry
on: [push]

jobs:
  push_to_ghcr:
    name: Push Docker image to ghcr
    runs-on: ubuntu-18.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        
      - name: Categorise this build
        run: echo $GITHUB_REF
      
      - name: Login to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v1
    
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          platforms: linux/arm64,linux/amd64
          tags: ghcr.io/mikemoraned/rust_multi_arch:0.2.1
